node_modules
.pnpm-store/
.next
.env
.env.local
.env.prod
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
coverage
/build/styledev/
/build/repomonitor-styledev.zip
*.log
*.tsbuildinfo
.DS_Store
tmp/
